* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(243, 243, 243);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;

}

.instagram-wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 60%;
    height: 100vh;
}

.instagram-phone {
    margin-top: 73px;
    margin-right: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding-right: 35px;

}

.instagram-phone img {
    height: 50rem;
}

.instagram-continue {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 350px;
    min-height: 34rem;
}

.group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: white;
    width: 100%;
    padding: 1.3rem 0;
    border: 1px solid lightgray;
}

.instagram-continue .group h2::before {
    content: "";
    height: 50px;
    width: 5px;
    margin-right: 5px;
    background-color: #122A57;

    position: relative;
}

.group:nth-child(1) {
    min-height: 19rem;
}

.instagram-logo {
    height: 3rem;
}

.profile-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
}

.profile-photo img {
    height: 6rem;
}

.entrada-user {
    margin-top: 8px;
    width: 270px;
    border-radius: 4px;
    height: 37px;
    background-color: #fafafa;
    border: 1px solid #dbdbdb;
    font-size: 11px;
    color: aa8eaa;
    padding-left: 10px;
}


.entrada-password {
    margin-top: 7px;
    width: 270px;
    border-radius: 4px;
    height: 37px;
    margin-bottom: 15px;
    background-color: #fafafa;
    border: 1px solid #dbdbdb;
    font-size: 11px;
    color: aa8eaa;
    padding-left: 10px;
}

.instagram-login {
    display: flex;
    background-color: #b2dffc;
    color: white;
    padding: 8px;
    border-radius: 4px;
    width: 270px;
    justify-content: center;
    align-items: center;

}

.instagram-logout {
    color: #0095f6;
    margin-top: 1rem;
}

.link-facebook {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}

.nao-usuario {
    margin-top: 10px;

}

.opcoes {
    color: #8e9092;
    padding-top: 24px;
}

.not-acconunt {
    color: rgb(160, 160, 160);
}

.link-blue {
    color: #0095f6;
}

.get-the-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.3rem 0;
}

.download {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.app-download {
    height: 3rem;
    width: 10rem;
    background-size: cover;
}

.app-download:nth-child(1) {
    background-image: url(./imagem/apple-button.png);
}

.app-download:nth-child(2) {
    background-image: url(./imagem/googleplay-button.png);
}

.lista-links {
    margin-bottom: -40px;
    height: 80px;
    align-items: center;
    justify-content: center;
    padding-right: 30px;
    display: flex;
    position: absolute;
    bottom: 0;
    align-content: stretch;

}

.lista-links a {
    color: #8e9092;
}

.lista-links ul {
    display: flex;

}

.lista-links li {
    list-style-type: none;
    padding-right: 6px;
    justify-content: center;
    flex-direction: row;
}

.rodape {
    margin-bottom: -50px;
    color: #8e9092;
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    align-items: center;
    justify-content: center;
    width: 60%;
    flex-flow: row nowrap;
}




@media(max-width:1024px) {
    .instagram-wrapper {
        width: 90%;
    }
}

@media(max-width:650px) {

    .instagram-wrapper {
        width: 90%;
    }

    .instagram-phone {
        display: none;
    }

    .instagram-continue {
        width: 80%;
    }

    .group {
        border: 1px solid transparent;
    }
}